Django==5.0.1
gunicorn==21.2.0
whitenoise==6.6.0
django-crispy-forms==2.5
crispy-bootstrap5==2025.6
django-filter==23.5
djangorestframework==3.14.0
django-jazzmin==3.0.1
pillow==12.1.0
python-decouple==3.8
requests==2.32.3
